@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #02040a;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
